<template name="chatroom">

	{{> welcome}}

	<div id="chatroom">
		<div id="chatroom_info">
			<h1>{{ room }}</h1>
			<p>{{ users }}</p>
			<span
				id="chatroom_users_icon"
				class="chatroom-icon glyphicon glyphicon-user"
				aria-hidden="true">
			</span>

			<p>{{ moments }}</p>
			<span
				id="chatroom_moments_icon"
				class="chatroom-icon glyphicon glyphicon-camera"
				aria-hidden="true">
			</span>
		</div>

		<div id="chatroom_content" class="container-fluid">
			<div id="chatroom_pictures" class="row">
				{{#each pictures }}
					<div class="col-xs-6">
						<img src="{{ url }}" alt="{{ room }}" data-ref="{{ _id }}">
						<div class="chatroom-picture-likes display-table">
							<p class="display-table-cell">{{ likes }}</p>
						</div>
					</div>
				{{/each }}
			</div>
		</div>

		<div id="chatroom_upload">
			<div id="chatroom_upload_circle_one">
				<div id="chatroom_upload_circle_two">
					<div id="chatroom_upload_button" class="display-table">
						<i id="chatroom_upload_icon"
							class="display-table-cell mdi-content-add">
						</i>
					</div>
				</div>
			</div>

			<input
				class="upload-trigger"
				type="file"
				name="upload-trigger"
				accept="image/*">
		</div>
	</div>
</template>
