#chatroom {
	display: none;
	width: 96%;
	margin: 0 auto;
}

#chatroom h1 {
	color: #333;
	font-size: 2em;
	text-transform: capitalize;
	float: left;
}

#chatroom_info {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	padding: 1em;
	padding-top : 1.8em;

	background: white;
	z-index: 1;
}

#chatroom_info p {
	font-size: 1.3em;
	font-family: 'dosissemibold', 'Helvetica Neue', Arial, sans-serif;;
	color: #333;
	float: right;
	margin-top: 6px;
	margin-bottom: 0;
}

.chatroom-icon {
	color: #333;
	float: right;
	top: 5px;
	margin-right: 7px;
}

#chatroom_users_icon {
	font-size: 1.5em;
	margin-left: 15px;
}

#chatroom_moments_icon {
	font-size: 1.7em;
}

#chatroom_content {
	margin-top: 120px;
}

#chatroom_pictures > div {
	padding: 0;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
}

/* #chatroom_pictures > div:nth-child(odd) {
	padding-right: 3px;
}

#chatroom_pictures > div:nth-child(even) {
	padding-left: 3px;
} */

#chatroom_pictures img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	cursor: pointer;
}
#chatroom_pictures img:hover {
	-webkit-filter: grayscale(0%);
}

.chatroom-picture-likes
{
	position: absolute;
	top   : 1em;
	right : 1em;

	width: 50px;
	height: 50px;

	font-family: 'dosissemibold', 'Helvetica Neue', Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
	background: #a11d3c;
	border-radius: 50%;

	box-shadow : 0 4px 2px 0 rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.19);
}

/* #chatroom_pictures > div:nth-child(odd) > .chatroom-picture-likes {
	left: 8px;
}

#chatroom_pictures > div:nth-child(even) > .chatroom-picture-likes {
	right: 8px;
} */

#chatroom_upload {
	position: fixed;
	bottom: 15px;
	width: 96%;
	margin: 0 auto;
}

#chatroom_upload_circle_one,
#chatroom_upload_circle_two {
	background: transparent;
	border-radius: 50%;

	margin: 0 auto;

	box-shadow : 0 4px 2px 0 rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.19);
}

#chatroom_upload_circle_one {
	width: 90px;
	height: 90px;

	border: 2px solid rgba(161,29,60,0.5);
}

#chatroom_upload_circle_two {
	width: 78px;
	height: 78px;

	border: 2px solid rgba(161,29,60,0.9);
	margin-top: 4px;
}

#chatroom_upload_button {
	width: 60px;
	height: 60px;

	background: #a11d3c;
	border-radius: 50%;

	margin: 0 auto;
	margin-top: 7px;

	cursor: pointer;

	box-shadow : 0 4px 2px 0 rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.19);
}

#chatroom_upload_icon {
	font-size: 2.4em;
	color: #fff;
	text-align: center;
}

.upload-trigger
{
	visibility : hidden;
	height     : 0;
}
