#header
{
	display: none;
	position   : fixed;
	top        : 0;
	left       : 0;
	width      : 100%;
	height     : 50px;
	background : #a11d3c;
	z-index : 2;
}

#header_logo {
	display : block;
	height  : 35px;
	margin  : 0 auto;
	margin-top: 7.5px;
}

.header-shadow
{
	box-shadow : 0 4px 2px 0 rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.19);
}

#header_list_button {
	position: fixed;
	top: 14px;
	right: 4%;
	font-size: 1.8em;
	cursor: pointer;
}