#listview_content
{
	background  : rgba(255, 255, 255, 0.9);
	margin-top  : 62px;
	padding-top : 1em;
}

#wrapper_search
{
	position   : fixed;
	top : 62px;
	padding-top: 1em;
	background  : rgb(255, 255, 255);
	z-index : 1;
}

#wrapper_search,
#list_chatrooms
{
	padding : 1em
}
#list_chatrooms {
	margin-top : 64px;
}

#search_chatrooms
{
	margin-bottom : 0;

	background-image : linear-gradient(blue, blue);
}

.chatrooms-item
{
	padding-top : 1em;
	cursor : pointer;
}
.chatrooms-item:hover
{
	background : lightgray;
	color : white;
}

.shadow-search
{
	box-shadow : 0 16px 17px 0 rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.19);
}
