#listview {
	display: none;
}

#wrapper_search
{
	position: fixed;
	top : 50px;
	left: 1%;
	width: 100%;
	height: 70px;
	padding-top: 1.4em;
	background: #fff;
	z-index : 1;
}

#search_chatrooms
{
	width: 85%;
	color: #333;
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom : 0;
	background-image: linear-gradient(#a11d3c, #a11d3c);
}

#search_icon {
	font-size: 2.2em;
	color: #a11d3c;
}

#search_no_results p {
	color: #333;
	font-size: 1.3em;
	text-align: center;
}

#listview_content {
	width: 96%;
	margin: 0 auto;
	margin-top: 120px;
}

.wrapper-list-chatroom-item {
	padding: 0;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
}

.wrapper-list-chatroom-item::before {
	content: "";
	display: block;
	background: #333;
	padding-top: 100%; 	/* ratio of 1:1 */

	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}

.wrapper-list-chatroom-item:hover::before {
	background: #a11d3c;
}

/* .wrapper-list-chatroom-item:nth-child(odd) {
	padding-right: 3px;
}

.wrapper-list-chatroom-item:nth-child(even) {
	padding-left: 3px;
} */

.list-chatroom-item {
	position: absolute;
	top: 22%;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	padding: 0;
	cursor: pointer;
}

.list-chatroom-item h1 {
	font-size: 1.7em;
	margin-bottom: 15px;
}

.list-chatroom-icon {
	font-size: 1.4em;
}

.wrapper-chatroom-users,
.wrapper-chatroom-moments {
	width: 40%;
	float: left;
}

.wrapper-chatroom-users {
	margin-left: 10%;
}

.wrapper-chatroom-moments {
	margin-right: 10%;
}

.wrapper-chatroom-users p,
.wrapper-chatroom-moments p {
	font-size: 1.3em;
}
