body {
	overflow : y-scroll;
}

#logo {
	display : block;
	margin  : 0 auto;
}

.header-panel
{
	background : transparent;
	position   : fixed;
	width      : 100%;
	height     : auto;
	top        : 0;
	left       : 0;
}
