#picture img {
	width: 100%;
	margin-top: 50px;
}

#picture_likes,
#picture_message {
	position: absolute;
	left : 1em;

	width: 50px;
	height: 50px;

	font-size: 1.5em;
	text-align: center;

	float: right;
	cursor: pointer;
}

#picture_likes {
	font-family: 'dosissemibold', 'Helvetica Neue', Arial, sans-serif;;
	top : 80px;
	height: 45px;

	background: url('img/heart.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#picture_message {
	top: 148px;

	background: #a11d3c;
	border-radius: 50%;
	box-shadow : 0 2px 2px 0 rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.19);
}
